html { scroll-behavior: smooth; }
header { margin: 0; padding: 0;}
section { padding: 25px 0; text-align: justify;
  text-justify: inter-word;}
.jumbotron { margin-bottom: 0;}

/* NAVBAR */

#navbar-toggler-cbox:checked ~ .collapse { display:block; }
.navbar-nav .active { color: #fff; }

.navbar-brand a { color: ghostwhite; }
.navbar-brand a:hover {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

a.nav-link.active { color: #fff !important; }

/* FORMATTING */

section h2 { margin-bottom: 1em;}

.lead {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 1em;
  margin-top: 0;
}

.franklin-content ul li p { margin: 0; }

.katex { font-size: 1em !important;}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* CODE */
/* TO CHANGE THE MARGINS OF THE CODE, LOOK BELOW */

pre { margin-bottom: 0.5em;  margin-left:-10%; margin-right:-15%}
pre code.hljs {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
pre code.hljs.plaintext {
	margin-bottom: 1em  
}

/* ADD ANY SPECIFIC TWEAKS YOU MIGHT WANT HERE */
code {
  background-color: rgb(224, 224, 224);
  color:black;
  padding: 0.1em 0.3em;
}

.name_format {
  color: white;
  padding: 0.5em 1.0em;
  text-decoration: none;
  font-size: 150%;
  }

  .name_format:hover {
    color: rgb(28, 0, 128);
  }


  .back_button {
    color: white;
    padding: 0.5em 1.0em;
    text-decoration: none;
    font-size: 100%;
    }
  
    .back_button:hover {
      color: rgb(28, 0, 128);
    }

    .julia_button {
      color: white;      
      text-decoration: none;
      font-size: 100%;
      }
    .julia_button:hover {
      color: rgb(28, 0, 128);
    }